{{#if user.username}}
<div style="background-image: url('images/bannerbackground.jpg');">

<div class= "logo"><h1>HERO FOODS</h1></div>
</div>
<a href= "/"><img src="images/buttonmenu.jpg" id= "menuimg"></a>
                                    {{#if user.username}}
            <a href="/logout"> <img src="images/buttonlogout.jpg" id= "menuimg"></a>
            {{else}}
            <a href="/login"> <img src="images/buttonlogin.jpg" id= "menuimg"></a>
            {{/if}}
            <a href="/registration"> <img src="images/buttonregister.jpg" id= "menuimg"></a>
            <a href="/MealPkg"> <img src="images/buttonmeal.jpg" id= "menuimg"></a>
<body>
    <h2>Welcome ADMIN {{user.username}}</h2>
<h1>ADMIN ACCOUNT: {{user.username}}</h1>

                       {{#each succ}}
                       <div class="succ">{{this}}</div>
                       {{/each}}
<a href= "/addMeals">Click here if you would like to <b>ADD</b> meals!</a>
<br>
<a href= "/editMeals">Click here if you would like to <b>EDIT</b> meals!</a>
</footer>
</div>
</body>

</body>
{{else}}
    <h2>Error you are not logged in!</h2>
{{/if}}