<h2>Welcome currently logged in as: {{user.username}}</h2>
<div class="mobile">
<div style="background-image: url('images/bannerbackground.jpg');">

<div class= "logo"><h1>HERO FOODS</h1></div>
<a name="top"></a>
<div id = welcomeMessage>
  <h1>WELCOME TO HERO FOODS!!!</h1>
</div>

    <div id= menu>
            <a href= "/"><img src="images/buttonmenu.jpg" id= "menuimg"></a>
                                    {{#if user.username}}
            <a href="/logout"> <img src="images/buttonlogout.jpg" id= "menuimg"></a>
              <a href="/cart"><img src="images/add-cart-button.png" id="menuimg"></a>

            {{else}}
          
            <a href="/login"> <img src="images/buttonlogin.jpg" id= "menuimg"></a>
            <a href="/registration"> <img src="images/buttonregister.jpg" id= "menuimg"></a>           
            {{/if}}

            <a href="/MealPkg"> <img src="images/buttonmeal.jpg" id= "menuimg"></a>
            <a href="/shopCart"><img src="images/shopping-cart-button.png" id="menuimg"></a>

        </div>
        </div>
          </br>
<body>

  <div id="herosection">
    <h1>-FOOD THAT WILL MAKE YOU INTO A HERO-</h1>
</div>


<div id="left">
<h3 id="maintitle">About Us</h3>
<p>-WE MAKE FOOD THAT MAKES YOU INTO A HERO USING PREMIUM INGREDIENTS-
  <br>
 -WE DELIVER OUR HIGHLY RATED FOOD PACKAGES SO YOU CAN BE A HERO ON THE GO-
  <br>
  -WE ALSO HAVE IN-STORE PICKUP AND A DISCOUNT IF YOU DO PICKUP AT THE STORE-
  <br>
</p>
</br></br></br></br></br></br></br>
</div>
<div id="right">
  <img src="images/randompictureoffood.jpg" id= "rightimg">

</div>

<table border="1" style="text-align: center;">
        <thead>
                <th>Meal Package Name</th>
                <th>Meal Package Price</th>
                <th>Meal Package Description</th>
                <th>Meal Package Type</th>
                <th>Top Package</th>
        </thead>
        <tbody>
            {{#each data}}
              {{#if this.topPackage}}
                <tr>
                   <td>
                        <a href="" class="meal-title">{{this.mealPackageName}}</a>
                   </td>
                   <td>
                       <span>{{this.mealPackagePrice}}</span>
                      
                   </td>
                   <td>
                        <span>{{this.mealPackageDesc}}</span>
                   </td>
                   <td>
                       <span>{{this.mealPackageType}}</span>
                   </td>
                   <td>
                     <span>{{this.topPackage}}</span>
                   </td>
                </tr>

              {{/if}}
                {{else}}
                   
                    <td colspan="5">
                        <p>No meals in the database</p>
                    </td>

                {{/each}}

    </tbody>
    </table>
<div style="background-image: url('images/footer.png');" id="footer"> 
<footer>
<a href="#top">Back to top of page</a>
</footer>

</div>
</body>
</div>